<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="connstring" connectionString="Data Source=.;Initial Catalog=laundry;Integrated Security=True" />
  </connectionStrings>
	<appSettings>
		<add key="apiKey" value="AIzaSyAWh_5JMnWYSE1txeDFZLWZ0j5Z5dcVpC4"/>
		<add key="authDomain" value="elaundry-426d3.firebaseapp.com"/>
		<add key="projectId" value="elaundry-426d3"/>
		<add key="storageBucket" value="elaundry-426d3.appspot.com"/>
		<add key="messagingSenderId" value="1051360130096"/>
		<add key="appId" value="1:1051360130096:web:68734e59fcf17a72c0e9f5"/>
		<add key="measurementId" value="G-FWY2ND2W57"/>
</appSettings>
</configuration>